@model IEnumerable<Team01_Project01.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.buildingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.buildingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomNumber)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.locationId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.locationId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.locationId">Delete</a>
        </td>
    </tr>
}
</table>
