@model IEnumerable<Team01_Project01.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facultyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facultyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.CRN">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.CRN">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.CRN">Delete</a>
        </td>
    </tr>
}
</table>
