@model Team01_Project01.Models.Courses

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.credits)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.courseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
