@model IEnumerable<Team01_Project01.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.courseId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.courseId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
        </td>
    </tr>
}
</table>
